header {
  .title {
    text-align: center;
    padding: 20px 0 0px;
    img {
      width: 322px;
      height: 46px;
    }
  }
  .description {
    text-align: center;
    p {
      line-height: 1em;
      font-family: 'Courier';
      font-size: 16px;
    }
  }
  .navbar {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 40px;
    line-height: 1em;
    font-family: 'Courier';
    font-size: 16px;
    ul {
      li {
        display: inline-block;
        margin: 0 0 0 9px;
        &::after {
          content: "|";
          margin-left: 9px;
        }
        &:first-child {
          margin-left: 0px;
        }
        &:last-child {
          &::after {
            content: "";
            margin-left: 0px;
          }
        }
      }
    }
  }
}
