html, #__next, .page-wrapper {
  height:100%;
}
body {
  background-color: $background;
  font-family: 'Courier';
  color: #FFF;
  height:100%;
}
.container {
  width: 100%;
  padding: 0 4%;
  max-width: $layout-max-width;
  margin: 0 auto;
  min-height:100%;
  position:relative;
}
.content-with-sidebar {
  padding-bottom:40px;
  .content {
    width: 75%;
  }
}
.row {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 481px) {
  .content-with-sidebar {
    .content {
      width: 100%;
      order: 1;
    }
  }
  .content-with-sidebar.row {
    flex-direction: column;
  }
}
