  .messagelist {
  padding-bottom: 15px;
  .title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $borders;
    .refresh-status {
      font-size: 70%;
    }
  }
  .row {
    padding: 10px 0;
    border-bottom: 1px solid $borders;
    line-height: 1.5em;
    font-size: 80%;
    text-align: left;
    .message {
      width: 80%;
      white-space: pre-wrap;
    }
  }
}
@media only screen and (max-width: $small-screen-max-width) {
  .messagelist {
    .title {
      flex-direction: column;
      padding-bottom: 10px;
      h2 {
        line-height: 1em;
      }
    }
    .row {
      flex-direction: column;
      .message,
      .meta {
        width: 100%;
      }
      .meta {
        padding-bottom: 10px;
      }
      .from_txt {
        font-weight: bold;
      }
    }
  }
}
