.messagelist {
  padding-bottom: 15px;
  .title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $borders;
    .refresh-status {
      font-size: 70%;
    }
  }
  .row {
    flex-direction: row;
    padding: 10px 0;
    border-bottom: 1px solid $borders;
    line-height: 1.5em;
    font-size: 80%;
    text-align: left;
    time {
      display: block;
    }
    .message {
      width: 80%;
      white-space: pre-wrap;
      font-style: italic;
    }
  }
}
@media only screen and (max-width: $small-screen-max-width) {
  .messagelist {
    .title {
      flex-direction: column;
      padding-bottom: 10px;
      h2 {
        line-height: 1em;
      }
    }
    .row {
      display: flex;
      flex-flow: row wrap;
      .meta {
        order: 1;
      }
      .report {   
        align-self: flex-end;
        margin-bottom: auto;
        order: 2;
      }
      .message {
        order: 3;
      }
      .meta {
        padding-bottom: 10px;
      }
      .from_txt {
        font-weight: bold;
      }
      time {
        display: inline-block;
      }  
    }
  }
}
