.sidebar {
  width: 23%;
  margin-left: 2%;
  border-left: 1px solid $borders;
  .sidebar-inner {
    padding: 0 0 0 15px;
    .number-list {
      font-size: 80%;
      li {
        line-height: 1.5em;
        a {
          text-decoration: none;
        }
        .active {
          width: 6px;
          height: 6px;
          background: $green;
          border-radius: 3px;
          display:inline-block;
          margin-right: 6px;
        }
      }
    }
  }
}
