@font-face {
  font-family: 'Germania One';
  src: url('/static/fonts/germania-one/germaniaone-regular.woff2') format('woff2'),
       url('/static/fonts/germania-one/germaniaone-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
a, p {
  color: #FFF;
}
h1 {
  font-size: 300%;
  font-family: 'Germania One', cursive;
}
h2 {
  line-height: 2em;
  font-family: 'Courier';
  font-size: 90%;
}
h3 {
  padding-bottom: 1em;
  font-size: 100%;
  text-decoration: underline;
}
